<h1 class="center">~Dash Coffee~</h1>
<div class="center card light-green darken-3">
  <div class="card-content grey darken-1">
    <h3>Create A New Item</h3>
    <a href="/apps/new" class="btn brown lighten-4">Add</a>
  </div>
</div>
<div class="center card light-green darken-3">
  <div class="card-content grey darken-1">
    <h3>View Items</h3>
    <a href="/apps" class="btn brown lighten-4">Menu</a>
  </div>
</div>