<h1 class="center">Dash Coffee</h1>
<div class="center card green lighten-3">
  <div class="card-content grey darken-3-text">
    <h3>Create A New Item</h3>
    <a href="/apps/new" class="btn">New Item</a>
  </div>
</div>
<div class="center card green lighten-3">
  <div class="card-content grey darken-3-text">
    <h3>View Menu</h3>
    <a href="/apps" class="btn">Menu Items</a>
  </div>
</div>
