<nav>
  <div class="nav-wrapper">
    <a href="/" class="brand-logo">Dash Coffee</a>
    <ul id="nav-mobile" class="right">
      <li><a href="/apps">Menu</a></li>
      <li><a href="/apps/new">New Item</a></li>
    </ul>
  </div>
</nav>